ErgoRR-web/src/main/webapp/WEB-INF/wsdl/RIM-service.wsdl

<?xml version = "1.0" encoding = "UTF-8"?>
<definitions targetNamespace="http://www.kzen.be/ergorr/interfaces/soap/rim"
xmlns="http://schemas.xmlsoap.org/wsdl/"
xmlns:lcm="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0"
xmlns:query="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0"
xmlns:rs="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0"
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:tns="http://www.kzen.be/ergorr/interfaces/soap/rim">
    <types>
        <xsd:schema>
            <xsd:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" schemaLocation="xsd/ebrim/rs.xsd"/>
            <xsd:import namespace="http://www.opengis.net/cat/wrs/1.0" schemaLocation="xsd/wrs/1.0.0/wrs.xsd"/>
            <xsd:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0" schemaLocation="xsd/ebrim/lcm.xsd"/>
            <xsd:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0" schemaLocation="xsd/ebrim/query.xsd"/>
        </xsd:schema>
    </types>
    <message name="msgRegistryResponse">
        <part element="rs:RegistryResponse" name="partRegistryResponse"/>
    </message>
    <message name="msgUpdateObjectsRequest">
        <part element="lcm:UpdateObjectsRequest" name="partUpdateObjectsRequest"/>
    </message>
    <message name="msgSubmitObjectsRequest">
        <part element="lcm:SubmitObjectsRequest" name="partSubmitObjectsRequest"/>
    </message>
    <message name="msgDeprecateObjectsRequest">
        <part element="lcm:DeprecateObjectsRequest" name="partDeprecateObjectsRequest"/>
    </message>
    <message name="msgUndeprecateObjectsRequest">
        <part element="lcm:UndeprecateObjectsRequest" name="partUndeprecateObjectsRequest"/>
    </message>
    <message name="msgRemoveObjectsRequest">
        <part element="lcm:RemoveObjectsRequest" name="partRemoveObjectsRequest"/>
    </message>
    <message name="msgApproveObjectsRequest">
        <part element="lcm:ApproveObjectsRequest" name="partApproveObjectsRequest"/>
    </message>
    <message name="msgAdhocQueryRequest">
        <part element="query:AdhocQueryRequest" name="partAdhocQueryRequest"/>
    </message>
    <message name="msgAdhocQueryResponse">
        <part element="query:AdhocQueryResponse" name="partAdhocQueryResponse"/>
    </message>
    <portType name="QueryManagerPortType">
        <operation name="submitAdhocQuery">
            <input message="tns:msgAdhocQueryRequest"/>
            <output message="tns:msgAdhocQueryResponse"/>
        </operation>
    </portType>
    <portType name="LifeCycleManagerPortType">
        <operation name="approveObjects">
            <input message="tns:msgApproveObjectsRequest"/>
            <output message="tns:msgRegistryResponse"/>
        </operation>
        <operation name="deprecateObjects">
            <input message="tns:msgDeprecateObjectsRequest"/>
            <output message="tns:msgRegistryResponse"/>
        </operation>
        <operation name="undeprecateObjects">
            <input message="tns:msgUndeprecateObjectsRequest"/>
            <output message="tns:msgRegistryResponse"/>
        </operation>
        <operation name="removeObjects">
            <input message="tns:msgRemoveObjectsRequest"/>
            <output message="tns:msgRegistryResponse"/>
        </operation>
        <operation name="submitObjects">
            <input message="tns:msgSubmitObjectsRequest"/>
            <output message="tns:msgRegistryResponse"/>
        </operation>
        <operation name="updateObjects">
            <input message="tns:msgUpdateObjectsRequest"/>
            <output message="tns:msgUpdateObjectsRequest"/>
        </operation>
    </portType>

    <binding name="QueryManagerSOAPBinding" type="tns:QueryManagerPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="submitAdhocQuery">
            <soap:operation soapAction="urn:oasis:names:tc:ebxml-regrep:wsdl:registry:bindings:3.0:QueryManagerPortType#submitAdhocQuery"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="LifeCycleManagerSOAPBinding" type="tns:LifeCycleManagerPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="approveObjects">
            <soap:operation soapAction="urn:oasis:names:tc:ebxml-regrep:wsdl:registry:bindings:3.0:LifeCycleManagerPortType#approveObjects"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deprecateObjects">
            <soap:operation soapAction="urn:oasis:names:tc:ebxml-regrep:wsdl:registry:bindings:3.0:LifeCycleManagerPortType#deprecateObjects"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="undeprecateObjects">
            <soap:operation soapAction="urn:oasis:names:tc:ebxml-regrep:wsdl:registry:bindings:3.0:LifeCycleManagerPortType#undeprecateObjects"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="removeObjects">
            <soap:operation soapAction="urn:oasis:names:tc:ebxml-regrep:wsdl:registry:bindings:3.0:LifeCycleManagerPortType#removeObjects"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="submitObjects">
            <soap:operation soapAction="urn:oasis:names:tc:ebxml-regrep:wsdl:registry:bindings:3.0:LifeCycleManagerPortType#submitObjects"/>
            <input>
                <soap:body part="partSubmitObjectsRequest" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateObjects">
            <soap:operation soapAction="urn:oasis:names:tc:ebxml-regrep:wsdl:registry:bindings:3.0:LifeCycleManagerPortType#updateObjects"/>
            <input>
                <soap:body part="partUpdateObjectsRequest" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="ebXMLRegistrySOAPService">
        <port binding="tns:QueryManagerSOAPBinding" name="QueryManagerPort">
            <soap:address location="http://your.server.com/soap"/>
        </port>
        <port binding="tns:LifeCycleManagerSOAPBinding" name="LifeCycleManagerPort">
            <soap:address location="http://your.server.com/soap"/>
        </port>
    </service>
</definitions>
